body {
    font-family: "Open+Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #33312B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Domine";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $lgColor;
}



.home {
    h1 {
        line-height: calc(1.6rem + 1vw);
        font-size: calc(1.4rem + 0.6vw);

    }

    .logo {

        img {
            width: calc(1vw + 10%);
            margin: auto;
            display: block;

            @include for_breakpoint(xs sm) {
                display: none !important;
            }
        }
    }

    .top-image {
        img {
            border-radius: 30px;
            padding-top: 10px;

        }

        @include for_breakpoint(xs sm) {
            display: none;
        }
    }

    .top-intro {
        clear: both;
        display: block;
        margin-left: auto;

        p {
            font-size: calc(0.8rem + 0.6vw);
            line-height: calc(2vw + 80%);
            color: $dgColor;
        }

        .btn {
            margin-top: 1em;
            margin-left: 0 !important;
            width: auto;
            padding: 0.4em calc(1vw + 10%) 0.4em calc(1vw + 10%);

            @include for_breakpoint(xs sm) {
                width: 100%;
            }
        }

        h1 {
            margin-top: 0.2em;
            ;
        }
    }

    .a-text {
        clear: both;
        display: block;
        margin-left: auto;

        p {
            font-size: calc(0.8rem + 0.6vw);
            line-height: calc(2vw + 80%);
            color: $ligColor;
        }

        .btn {
            margin-top: 1em;
            margin-left: 0 !important;
            width: auto;
            padding: 0.4em calc(1vw + 10%) 0.4em calc(1vw + 10%);

            @include for_breakpoint(xs sm) {
                width: 100%;
            }
        }
    }

    .b-text {
        h1 {
            color: $quiColor;
        }

        h2 {
            color: $lgColor;
        }
    }

    .row-c {
        @include for_breakpoint(md lg xl) {
            margin-top: calc(-1* var(--bs-gutter-y)) !important;
            margin-right: calc(-.5* var(--bs-gutter-x)) !important;
            margin-left: calc(-.5* var(--bs-gutter-x)) !important;
        }
    }

    .c-image {
        padding: 0 !important;

        @include for_breakpoint(xs sm) {
            img {
                width: calc(100vw + (-.75* var(--bs-gutter-x))) !important;
                margin-left: calc(-.5* var(--bs-gutter-x)) !important;
            }
        }

        p {
            margin: 0 !important;
        }

    }

    .c-text {
        h1 {
            color: $quiColor;
            margin-top: 2em;
        }

        p {
            font-size: calc(1.3vw + 30%);
            line-height: calc(2vw + 80%);
            color: $dgColor;
        }

        .btn {
            margin-top: 1em;
            margin-left: 0 !important;
            width: auto;
            padding: 0.4em calc(1vw + 10%) 0.4em calc(1vw + 10%);

            @include for_breakpoint(xs sm) {
                width: 100%;
            }
        }
    }
}

.footer {
    a {
        color: $quiColor !important;
    }
}


.slider {
    img {
        padding: 3em;
    }
}



/* BASIC BUTTON ELEMENT */
a {
    color: #F0C523;
    text-decoration: underline;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

a:hover {
    color: darken #BFA541, 10% !important;
}



.footer {
    padding: 2em;
    flex-wrap: nowrap;
    border-top: 1px solid lighten($priColor, 10%);

    a {
        color: $quiColor;
        text-decoration: none;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1em;
    }

    img {
        width: 70px;
        height: 70px;
    }

    svg {
        width: 70px;
        height: 70px;
        display: block;
    }

    .cls-1:hover {
        fill: $quiColor;
    }

    a:hover {
        color: $priColor !important;
    }

    h4 {
        font-family: "Ysabeau SC";
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.2em;
        color: $priColor !important;
    }

    ul {
        padding: 0;
    }

    li {
        list-style-type: none;
    }
}

@media screen and (max-width: 768px) {
    .footer div {
        flex-flow: column wrap !important;
        width: 100%;
    }
}



/* BUTTON ANIMATIONS */
.btn {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    width: 100%;
    border: 1px solid;
    margin-right: 1em;
    margin-bottom: 0.5em;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.btn:hover {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
}