$priColor: #F0C523;
$secColor: #EAA044;
$terColor: #8C7F4F;
$quaColor: #595544;
$quiColor: #33312B;


$colors: (
    pri: $priColor,
    sec: $secColor,
    ter: $terColor,
    qua: $quaColor,
    qui: $quiColor,
    whi: #fff
);