description = "Content layout"

[staticMenu]
code = "staticMenu"

[staticPage]
useContent = 1
default = 0

[contentBlock]
link_text = "Lees meer"

[myForm]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ this.page.meta_title ?: placeholder('pageTitle') }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">            
        {% partial 'site/head-links' %}
        {% styles %}
    </head>

    <body class="{{ 'page-'~this.page.id }} home">    
        <div class="container-fluid bg_qui divheight_50">{% partial 'site/navigation' %}</div>    
        <div class="container-fluid bg_pri pb-3">
            <div class="container-lg">
                <div class="row">
                    <div class="col-md-12 logo">
                        <a href="{{ '/'|app }}"><img src="{{ 'assets/images/logo_home.png'|theme }}"></a>
                    </div>
                </div>
                <div class="row m-auto">
                    <div class="col-md-6 px-lg-5 top-image">{% placeholder TopImage title="TopImage" %}</div>
                    <div class="col-md-6 pt-3 pt-sm-3 pt-md-0 px-lg-5 top-intro">{% placeholder TopIntro title="TopIntro" %}</div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg_qui">        
            <div class="container-lg py-5">
                <div class="row pt-4">          
                    <div class="col-md-12 px-lg-5 a-text">{% placeholder AText title="A-Text" %}</div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg_pri_light">        
            <div class="container-lg py-5">
                <div class="row pt-4"> 
                    <div class="col-md-6 px-lg-5 b-text">{% placeholder BText title="B-Text" %}</div>           
                    <div class="col-md-6 px-lg-5 b-snippets">{% placeholder BText2 title="B-Text2" %}</div>           
                </div>
            </div>
        </div>

        <div class="container-fluid bg_pri_light">        
            <div class="container-lg footer d-flex">
                <div class="d-flex"><div>{% content 'footer_address.htm' %}</div></div>
                <div class="d-flex"><div>{% content 'footer_social.htm' %}</div></div>
            </div>
        </div>
        <div class="container-fluid bg_pri_light">        
            <div class="container-lg footer d-flex">
                <div class="d-flex"><div>&copy; {{ "now"|date("Y") }} {{ appName }}. Alle rechten voorbehouden.</div></div>
                <div class="d-flex"><div>{% content 'footer_privacy.htm' %}</div></div>
            </div>
        </div>           
        {% partial 'site/body-scripts' %}
        {% scripts %}
    </body>
</html>