<ul class="navbar-nav ms-auto mt-2 mb-lg-0">
{% for main in menuitems %}
    {% for item in main.items %}
        {% if item.items %}
            <li class="nav-item {{ item.isActive or item.isChildActive ? 'active' : '' }}{{ item.items ? ' dropdown' : '' }}">            
            <a class="nav-link dropdown-toggle" href="{{ item.url }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title }}</a>
            <ul class="dropdown-menu">
            {% for sub in item.items %}                    
                <li><a class="dropdown-item" href="{{ sub.url }}">{{ sub.title }}</a></li>
            {% endfor %}
                    
            </ul>
            </li>
        {% else %}
            <a class="nav-link active" aria-current="page" href="{{ item.url }}">{{ item.title }}</a>
        {% endif %}         
    {% endfor %}
{% endfor %}
</ul>

